# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out
*.log

# Go workspace
go.work
go.work.sum

# Dependencies (normalmente NÃO ignorar vendor se usar)
vendor/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
